tests/images/circuit_with_CZgate.png filter=lfs diff=lfs merge=lfs -text
tests/images/circuit_with_DeM_with_multiple_target_bits.png filter=lfs diff=lfs merge=lfs -text
tests/images/circuit_with_DenseMatrix_SWAP.png filter=lfs diff=lfs merge=lfs -text
tests/images/simple_circuit1.png filter=lfs diff=lfs merge=lfs -text
tests/images/simple_circuit2.png filter=lfs diff=lfs merge=lfs -text
